<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiit.mapper.SysAuthorityMapper">
  <resultMap id="BaseResultMap" type="com.aiit.domain.SysAuthority">
    <!--@mbg.generated-->
    <!--@Table sys_authority-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="authority_name" jdbcType="VARCHAR" property="authorityName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, authority_name
  </sql>
</mapper>